



body {
    background-image:url(image\background.jpg);
    font-family: 'Gugi', cursive;
    background-color: #131b31;
    font-size: 1.1rem;
    line-height: 1.5;
}



footer {
    background-color: #101010;
    color: #a0a0a0;
    text-align: center;
    padding: 4rem 0;
    font-size: .8rem;
}